<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gallery</title>

    <!-- {% if site.google_ad_client %}{% include google_analytics.html %}{% endif %}

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "{{site.google_ad_client}}",
    enable_page_level_ads: true
  });
</script> -->


    <!-- <script data-ad-client="ca-pub-3705518697281714" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->


    <!-- CSS only -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css">

    <script src="https://kit.fontawesome.com/b5adcb980f.js" crossorigin="anonymous"></script>

  </head>

  <body>

    <header class="jumbotron">
      <div class="container">
        <div class="row row-header ">
          <div class="col-12 col-sm-4">
            <h1>ArtWorks by Reeshu Pal</h1>
            <p>A highschool student with an aspiration to inspire the society with a paint brush.</p>
          </div>
          <div class="col-12 col-sm-7">
          </div>
        </div>
      </div>
    </header>



    <nav class="navbar navbar-dark navbar-expand-sm bg-dark fixed-top" >
      <div class="container">
        <a class="navbar-brand" href="#">Work</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="Navbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item "> <a class="nav-link" href="aboutme.html">AboutMe </a> </li>
            <li class="nav-item  " > <a class="nav-link" href="index.html#contact">Contact</a> </li>
          </ul>
        </div
      </div>
    </nav>



      <div style="background:#E0F7FA;">
        <div class="container" id="ab">
          <br>
          <hr>
            <h3>Awareness</h3>
            <p>As we know this is a never-ending pandemic<br>it is recommended that we stay home <br> otherwise it'll be end of us. </p>
            <hr>
            <div class="row justify-content-center">
                 <div class="col-xs-12 img-fluid img-thumbnail max-width: 100% height:auto" alt="Responsive image">
                   <img id="ab2" src="aware1.jpeg" alt="">
                 </div>
                 <!-- <div class="col-xs-12 img-fluid img-thumbnail max-width: 100% height:auto " alt="Responsive image" >
                   <img id="ab3" src="AB5.jpeg" alt="">
                 </div> -->
            </div>
            <hr>

        <h3>Angelic Beauties</h3>
        <p>Portraits of Angels </p>
        <hr>
         <div class="row justify-content-center">
            <div class="col-xs-12 img-fluid img-thumbnail max-width: 100% height:auto " alt="Responsive image" >
             <img id="ab1" src="AB3.jpeg" alt="">
           </div>
           <div class="col-xs-12 img-fluid img-thumbnail max-width: 100% height:auto" alt="Responsive image">
             <img id="ab2" src="AB4.jpeg" alt="">
           </div>
            <div class="col-xs-12 img-fluid img-thumbnail max-width: 100% height:auto" alt="Responsive image ">
             <img id="ab3" src="AngBEU1.jpeg" alt="">
           </div>
        </div>
        <div class="row justify-content-center">
             <div class="col-xs-12 img-fluid img-thumbnail max-width: 100% height:auto" alt="Responsive image">
               <img id="ab2" src="AB2.jpeg" alt="">
             </div>
             <div class="col-xs-12 img-fluid img-thumbnail max-width: 100% height:auto " alt="Responsive image" >
               <img id="ab3" src="AB5.jpeg" alt="">
             </div>
        </div>
        <hr>
      </div>


    <div class="container">
      <h3>Comics</h3>
      <p>Sketches Based on comic books</p>
      <hr>

      <div class="row justify-content-center">
           <div class="col-xs-12 img-fluid img-thumbnail max-width: 100% height:auto" alt="Responsive image">
             <img id="ab2" src="comic1.jpeg" alt="">
           </div>
           <!-- <div class="col-xs-12 img-fluid img-thumbnail max-width: 100% height:auto " alt="Responsive image" >
             <img id="ab3" src="AB5.jpeg" alt="">
           </div> -->
      </div>
      <hr>
    </div>

    <div class="container wallart">
      <h3>Wallart(Graffiti)</h3>
      <p>Tree landscape painted on wall. </p>
      <hr>
      <div class="row  justify-content-center " >
           <div class="col-xs-12 img-fluid img-thumbnail max-width: 100% height:auto" alt="Responsive image">
             <img  id="ab4" src="wallart1.jpeg" alt="">
           </div>
           <!-- <div class="col-xs-12 img-fluid img-thumbnail max-width: 100% height:auto " alt="Responsive image" >
             <img id="ab3" src="AB5.jpeg" alt="">
           </div> -->

      </div>
      <hr>
    </div>
  </div>


  </div>




      <div data-spy="scroll" data-target="#Navbar" data-offset="0">
        <footer id="contact">
          <div class="container ">
            <div class="row justify-content-center">
              <div class=" offset-2 col-8 mr-auto " style="padding-top:10px; " >
                <h4 >Contact:</h4>
                <hr>
              </div>
              <div class="col-12 col-sm-4 ">
                <address>
                  <i class="fa fa-home" ></i> Residence:<br>
                  Ganpati Mandir,Ganpat Colony<br>
                  CHL No:2/Room No:2 Ashelepada<br>
                  Ulhasnagar-421004 Thane.<br>
                  Maharashtra.
                </address>
          </div>
          <div class="row">

          </div>
          <div class="col-sm-4  text-center">
            <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/mithilesh.pal.56863"><span><i class="fa fa-facebook"></i>acebook </span></a>

          </div>
          <div class="col-12 text-center">
            <p>© Copyright 2020 GYANBALI PAL</p>

          </div>
        </div>
      </div>
    </footer>

  </div>






    <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
