*{
  font-family:"Fira Mono", "Andale Mono", "Consolas", monospace;
  font-weight: lighter ;
}

.row-header{
  margin: auto;
  margin-bottom: 0px;
  padding-top: 20px;

}

.jumbotron{
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background-color: #A7FFEB ;
  color: #263238;
}
 #ab1{
  height:400px;
  widht:290px;

}
#ab2{
  height: 400px;
  widht:300px;
}
#ab3{
  height: 400px;
  width: 290px;
}
#ab4{

  height:250px;
  width:330px;
}
 .wallart{

  padding-bottom: 10px;
} 

footer{
  background: #B9F6CA;
}
